@charset "UTF-8";
@import "compass";
@import "normalize";

$default-margin: 7px;
$responsive-width1: 800px;
$side-contents-width: 320px;

body {
  background-color: #FFFFFF;
  color: #333;
  padding-bottom: 50px;
}

a {
  color: #428BCA;
  text-decoration: none;
}

header,
article,
footer,
.side-contents {
  margin: $default-margin;
}

footer {
  text-align: right;
}

section,
.social-buttons,
.ad,
.amazonranklet-item {
  margin: 0 0 $default-margin;
}

.ad320x50 {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}

.amazonranklet-item {
  line-height: 1.2em;
  padding: 0.5em;
  background-color: #FCF8E3;
  @include border-radius(4px);
}

.side-contents > nav {
  a {
    color: #333;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0 0 $default-margin;

    li a {
      display: block;
      background-color: #F5F5F5;
      font-weight: bold;
      margin: 0 0 $default-margin;
      @include border-radius(4px);
      padding: 0.5em;

      &:hover {
        color: #FFF;
        background-color: #428BCA;
      }
    }
  }
}

.social-buttons {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      .fb-like span {
        vertical-align: baseline !important;
      }
    }
  }
}

.twitter-timeline {
  vertical-align: top;
  margin: 0 $default-margin $default-margin 0;
}

fieldset {
  border: 0 none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  width: 100%;
  border-color: #E5E5E5;
  border-style: none none solid;
  border-width: 0 0 1px;
  color: #333;
  margin: 0 0 $default-margin;
}

label {
  display: block;
  width: 95%;
  margin: 0 0 $default-margin $default-margin;
}

input[type="text"] {
  width: 100%;
}

@media screen and (min-width : $responsive-width1) {
  body {
    padding-bottom: 0;
  }

  header,
  article,
  footer {
    margin-left: $default-margin + $side-contents-width + $default-margin;
  }

  .ad320x50 {
    position: static;
    margin-bottom: $default-margin;
  }

  .side-contents {
    position: absolute;
    top: 0;
    left: 0;
    width: $side-contents-width;
  }
}

/*******************************************************************************
 * Fluidity
 *******************************************************************************/

img,
iframe,
video,
svg {
  max-width: 100%;
}

.overflow-container {
  overflow-y: scroll;
}

/*******************************************************************************
 * Bootstrap
 *******************************************************************************/

.well {
  background-color: #F5F5F5;
  border: 1px solid #E3E3E3;
  @include border-radius(4px);
  @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.05) inset);
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
      clear: both;
  }
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}
