---
layout: page
title: Blog
---
{% for post in paginator.posts %}
  <section>
    <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
    <section>
      {{ post.content }}
    </section>
  </section>
{% endfor %}

<section class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">前のページ</a>
  {% else %}
    <span class="previous">前のページ</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">次のページ</a>
  {% else %}
    <span class="next ">次のページ</span>
  {% endif %}
</section>
