.wrapper {
  padding-right: $mobile-margin;
  padding-left: $mobile-margin;
  @extend %clearfix;

  @include if-pc {
    max-width: $max-content-width - ($pc-margin * 2);
    @include center-box;
    padding-right: $pc-margin;
    padding-left: $pc-margin;
  }
}

.site-header {
  color: $header-color;
  background-color: $header-background-color;
  min-height: 56px;
  background-image: url(../img/l_091_256.png);
  background-size: cover;
  background-position: 100% 50%;
  background-repeat: no-repeat;

  // Positioning context for the mobile navigation icon
  position: relative;

  a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 15px #6DF, 0px 0px 10px #6DF, 0px 0px 5px #FFF;
  }
}

.site-title {
  font-size: 32px;
  line-height: 56px;
  letter-spacing: 3px;
  margin-bottom: 0;
  float: left;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 2px 5px #000;

  &,
  &:hover,
  &:visited {
    color: $header-color;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  ul, li {
    display: inline;
    margin: 0;
    padding: 0;
  }

  a {
    display: inline-block;
    color: $header-color;
    text-shadow: 0px 0px 10px #024, 0px 0px 5px #024;
    padding: 0 10px;
  }
}

@include if-mobile {
  .site-title {
    font-size: 24px;
  }

  .site-nav-contents {
    clear: both;
    display: none;

    li {
      display: block;
      margin: 0 5px;

      &:not(:first-child) {
        border-top: 1px $grey-color-light solid;
      }
    }

    a {
      display: block;
      padding: 5px 10px;
      line-height: 48px;
      color: $text-color;
      text-shadow: none;
      background-color: $background-color;
    }

    a:hover {
      text-shadow: none;
    }
  }

  .site-nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;

    &:before {
      content: '';
      display: block;
      float: right;
      width: 56px;
      height: 56px;
      line-height: 0;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2020%22%20width%3D%2224px%22%20height%3D%2220px%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22m%200%2C0%2024%2C0%200%2C4%20-24%2C0%20z%22%2F%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22m%200%2C8%2024%2C0%200%2C4%20-24%2C0%20z%22%2F%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22m%200%2C16%2024%2C0%200%2C4%20-24%2C0%20z%22%2F%3E%3C%2Fsvg%3E');
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    &:hover .site-nav-contents {
      display: block;
      border-color: $grey-color;
      border-style: solid;
      border-width: 0 0 1px 1px;
      background-color: $background-color;
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    }
  }
}

// フッターの横並び/縦並びを切り替える幅
$footer-threshold-width: 500px;
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $pc-margin 0;
  text-align: center;

  ul {
    display: flex;
    justify-content: center;
    margin: 0 0 $mobile-margin;
    padding: 0;
    list-style: none;

    @include smaller-than($footer-threshold-width) {
      flex-direction: column;
    }

    li {
      // flex item間のマージンは相殺しない仕様
      margin: 0 0.25em;
      padding: 0;
    }

    a {
      display: inline-block;
      margin: 0 auto;
      padding: $mobile-margin;
      line-height: 150%;

      @include smaller-than($footer-threshold-width) {
        min-width: 200px;
      }
    }
  }
}

.page-content {
  padding: $pc-margin 0;
}

.post-meta {
  text-align: right;
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $pc-margin;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include if-mobile {
    font-size: 28px;
  }
}

.post-content {
  margin-bottom: $pc-margin;

  h2 {
    font-size: 32px;

    @include if-mobile {
      font-size: 22px;
    }
  }

  h3 {
    font-size: 26px;

    @include if-mobile {
      font-size: 18px;
    }
  }

  h4 {
    font-size: 20px;

    @include if-mobile {
      font-size: 14px;
    }
  }
}
