<!DOCTYPE html>
<html lang="ja">
  <head>
{% include head.html %}
  </head>
  <body>
{% include header.html %}

    <article>
{{ content }}
    </article>

    <div class="side-contents">
{% include nav.html %}

      <aside class="social-buttons">
{% include social-buttons.html %}
      </aside>

      <aside class="ad ad320x50">
{% include ad320x50.html %}
      </aside>

      <aside class="ad ad300x250">
{% include ad300x250.html %}
      </aside>
    </div>

{% include footer.html %}
  </body>
</html>
