@charset "UTF-8";

/*
 * モバマス振り分けpt計算機用スタイル
 */
div[ng-app="mobamasStatusPt"] {
  input {
    display: inline-block;
    margin: 0;
    font-size: 120%;
    line-height: 30px;
    width: 3em;
    text-align: right;
  }

  button {
    display: inline-block;
    margin: 0;
    font-size: 120%;
    padding: 4px 12px;
    line-height: 40px;
  }

  dt {
    margin: $default-margin 0;
    border-bottom: solid 1px $well-border-color;
  }

  dd {
    margin-left: $default-margin;
  }

  p.em, em {
    font-size: 150%;
    font-style: normal;
  }
}
