@charset "UTF-8";

/*
 * トップページ用スタイル
 */

html.top-page {
  // htmlの幅と高さを設定しないとAndroidのブラウザで高さが消失する
  width: 100%;
  height: 100%;

  body {
    width: 100%;
    height: 100%;
    color: $header-color;
    background-color: $header-background-color;
    background-image: url(../img/l_091_256.png);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 150%;
  }

  .top-wrapper {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 1.5;
  }

  h1 {
    @include center-block;
    padding: $mobile-margin;
    max-width: $max-content-width;
    color: $header-color;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 5px;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0px 0px 10px #6DF, 0px 0px 5px #6DF;
    background-image: radial-gradient(50% 2px at 50% 100%, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }

  h2 {
    display: none;
  }

  a {
    color: $header-color;

    &:hover {
      text-decoration: none;
      text-shadow: 0px 0px 15px #6DF, 0px 0px 10px #6DF, 0px 0px 5px #FFF, 0px 0px 5px #FFF;
    }
  }

  nav {
    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    ul {
      width: 15em;
      margin: 0 auto;
    }

    a {
      display: block;
      padding: $mobile-margin;
      background-image: radial-gradient(closest-side, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));

      &:hover {
        background-image: radial-gradient(130px 3px, rgba(255, 255, 255, 0.8), rgba(102, 221, 255, 0.8), rgba(255, 255, 255, 0));
      }
    }
  }

  footer {
    position: absolute;
    right: $mobile-margin;
    bottom: $mobile-margin;

    .twitter-username, .rss {
      border: 1px solid #FFF;
      background-color: transparent;
      background-image: radial-gradient(farthest-corner, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    }
  }
}
/*
 * PC用
 */
$top-resolution: 600px;
@include larger-than($top-resolution) {
  html.top-page {
    h1 {
      font-size: $top-resolution * 0.05;
    }

    footer {
      right: $pc-margin;
      bottom: $pc-margin;
    }
  }
}

$top-resolution: 800px;
@include larger-than($top-resolution) {
  html.top-page h1 {
    font-size: $top-resolution * 0.05;
  }
}
