/* trainer-ticket-time */
.trainer-ticket-time {
  th, td {
    text-align: center;
  }
  .group-a {
    background-color: #fce4ec;
  }
  .group-b {
    background-color: #e3f2fd;
  }
  .group-c {
    background-color: #fffde7;
  }
  .group-d {
    background-color: #e8f5e9;
  }
}
