---
---
@charset "UTF-8";
@import "mobamas-dojo";
@import "syntax-highlighting";

$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;

$background-color: #fdfdfd;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$header-color: #FFF;
$header-background-color: #081c40;

// ページの最大幅
$max-content-width: 960px;
// スマホ用表示にする最大幅
$max-mobile-width: 768px;

// コードブロックのmax-height
$code-block-max-height: 500px;

/*
 * Media Queries
 * 使い方
 * @include if-pc {
 *   .wrapper {
 *     padding-right: $mobile-margin * 2;
 *     padding-left: $mobile-margin * 2;
 *   }
 * }
 */
@mixin if-pc($width: $max-mobile-width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
@mixin larger-than($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
@mixin if-mobile($width: $max-mobile-width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
@mixin smaller-than($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin center-block {
  margin-left: auto;
  margin-right: auto;
}

@import "layout";

body {
  font-family: Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

h1 {
  margin-bottom: $mobile-margin;
}

@include if-pc {
  section {
    margin: 0 $pc-margin $pc-margin;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure, pre, blockquote {
  margin: 0;
  padding: 0;
}

pre, code, blockquote {
  border: solid 1px #DDD;
  border-radius: 3px;
  overflow: auto;
}

pre {
  padding: $mobile-margin;
  margin-bottom: $mobile-margin;
}

blockquote {
    padding: 0 $mobile-margin;
    margin: $mobile-margin 2em;
}

code {
  padding: 3px 0.5em;
}

pre code {
  padding: 0;
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #333;
  border-width: 0;
}

table.border {
  border-collapse: collapse;
  margin-bottom: $mobile-margin * 2;

  /* 偶数行の背景に色を付ける */
  tr:nth-child(even) {
    background-color: aliceblue;
  }

  th, td {
    border: 1px solid $grey-color;
    padding: 5px;
  }
}

.center {
  text-align: center;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.category-archive {
  font-size: 130%;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: $mobile-margin 0;
  }
}

.twitter-username, .rss {
  display: inline-block;
  padding: 0 10px;
  margin-left: $mobile-margin;
  border-radius: 5px;
  color: #FFF;
  line-height: 150%;

  &:visited {
    color: #FFF;
  }
}

.twitter-username {
  background-color: #1B95E0;

  &:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M15.969%2C3.058c-0.586%2C0.26-1.217%2C0.436-1.878%2C0.515c0.675-0.405%2C1.194-1.045%2C1.438-1.809%20c-0.632%2C0.375-1.332%2C0.647-2.076%2C0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806%2C0-3.27%2C1.464-3.27%2C3.27%20c0%2C0.256%2C0.029%2C0.506%2C0.085%2C0.745C5.163%2C5.404%2C2.753%2C4.102%2C1.14%2C2.124C0.859%2C2.607%2C0.698%2C3.168%2C0.698%2C3.767%20c0%2C1.134%2C0.577%2C2.135%2C1.455%2C2.722C1.616%2C6.472%2C1.112%2C6.325%2C0.671%2C6.08c0%2C0.014%2C0%2C0.027%2C0%2C0.041c0%2C1.584%2C1.127%2C2.906%2C2.623%2C3.206%20C3.02%2C9.402%2C2.731%2C9.442%2C2.433%2C9.442c-0.211%2C0-0.416-0.021-0.615-0.059c0.416%2C1.299%2C1.624%2C2.245%2C3.055%2C2.271%20c-1.119%2C0.877-2.529%2C1.4-4.061%2C1.4c-0.264%2C0-0.524-0.015-0.78-0.046c1.447%2C0.928%2C3.166%2C1.469%2C5.013%2C1.469%20c6.015%2C0%2C9.304-4.983%2C9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976%2C4.29%2C15.531%2C3.714%2C15.969%2C3.058z%22%2F%3E%3C%2Fsvg%3E');
    vertical-align: middle;
  }
}

.rss {
  background-color: #F60;
}

.pagination {
  text-align: center;

  span, a, em {
    display: inline-block;
    border: 1px $grey-color-light solid;
    padding: 5px 10px;
    line-height: 150%;
  }

  span {
    color: $grey-color-light;
  }

  em {
    font-style: normal;
    font-weight: bold;
    color: white;
    background-color: $link-color;
  }
}

.gist-data {
  max-height: $code-block-max-height !important;
}

figure.highlight {
  max-height: $code-block-max-height !important;
  overflow: auto;
}

@import "top-page";
@import "sidem-mydesk";
@import "mobamas-status-pt";
@import "trainer-ticket-time";
@import "sl-stage-songs-search";
@import "affiliate";
