---
---
@charset "UTF-8";
@import "mobamas-dojo";
@import "syntax-highlighting";

$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;

$background-color: #fdfdfd;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$header-color: #FFF;
$header-background-color: #081c40;

// ページの最大幅
$max-content-width: 960px;
// スマホ用表示にする最大幅
$max-mobile-width: 768px;

// コードブロックのmax-height
$code-block-max-height: 500px;

/*
 * Media Queries
 * 使い方
 * @include if-pc {
 *   .wrapper {
 *     padding-right: $mobile-margin * 2;
 *     padding-left: $mobile-margin * 2;
 *   }
 * }
 */
@mixin if-pc($width: $max-mobile-width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
@mixin larger-than($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
@mixin if-mobile($width: $max-mobile-width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
@mixin smaller-than($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin center-block {
  margin-left: auto;
  margin-right: auto;
}

@import "layout";

body {
  font-family: Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

h1 {
  margin-bottom: $mobile-margin;
}

@include if-pc {
  section {
    margin: 0 $pc-margin $pc-margin;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure, pre, blockquote {
  margin: 0;
  padding: 0;
}

pre, code, blockquote {
  border: solid 1px #DDD;
  border-radius: 3px;
  overflow: auto;
}

pre {
  padding: $mobile-margin;
  margin-bottom: $mobile-margin;
}

blockquote {
    padding: 0 $mobile-margin;
    margin: $mobile-margin 2em;
}

code {
  padding: 3px 0.5em;
}

pre code {
  padding: 0;
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #333;
  border-width: 0;
}

table.border {
  border-collapse: collapse;
  margin-bottom: $mobile-margin * 2;

  /* 偶数行の背景に色を付ける */
  tr:nth-child(even) {
    background-color: aliceblue;
  }

  th, td {
    border: 1px solid $grey-color;
    padding: 5px;
  }
}

.center {
  text-align: center;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.category-archive {
  font-size: 130%;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: $mobile-margin 0;
  }
}

.footer-link {
  display: flex;
  justify-content: center;
  gap: $mobile-margin;
}

.footer-link a {
  padding: $mobile-margin $mobile-margin * 2;
  text-decoration: none;
  color: #FFF;
  border-radius: 5px;

  &:visited {
    color: #FFF;
  }
}

.twitter-username {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $mobile-margin;

  &:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22m9.4894%206.7749%205.8283-6.7749h-1.3811l-5.0607%205.8826-4.042-5.8826h-4.6619l6.1122%208.8955-6.1122%207.1045h1.3812l5.3442-6.2122%204.2686%206.2122h4.6619l-6.3389-9.2251zm-1.8917%202.1989-0.6193-0.88579-4.9275-7.0483h2.1214l3.9766%205.6882%200.6193%200.88579%205.1691%207.3938h-2.1214l-4.2181-6.0334z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    }
}

.rss {
  background-color: #F60;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $mobile-margin;

  &:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22m11.316%204.6838c-3.0204-3.0204-7.0392-4.6838-11.316-4.6838v3.1468c3.4363%200%206.6649%201.3361%209.091%203.7622%202.426%202.4261%203.7622%205.6547%203.7622%209.091h3.1468c-4.9e-5%20-4.2769-1.6635-8.2957-4.6839-11.316z%22%2F%3E%3Cpath%20d%3D%22m0%205.36v3.1366c4.1374%200%207.5035%203.3661%207.5035%207.5037h3.1365c0-5.8671-4.7731-10.64-10.64-10.64z%22%2F%3E%3Ccircle%20cx%3D%222.25%22%20cy%3D%2213.75%22%20r%3D%222.25%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    }
}

.pagination {
  text-align: center;

  span, a, em {
    display: inline-block;
    border: 1px $grey-color-light solid;
    padding: 5px 10px;
    line-height: 150%;
  }

  span {
    color: $grey-color-light;
  }

  em {
    font-style: normal;
    font-weight: bold;
    color: white;
    background-color: $link-color;
  }
}

.gist-data {
  max-height: $code-block-max-height !important;
}

figure.highlight {
  max-height: $code-block-max-height !important;
  overflow: auto;
}

@import "top-page";
@import "sidem-mydesk";
@import "mobamas-status-pt";
@import "trainer-ticket-time";
@import "sl-stage-songs-search";
@import "affiliate";
