<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% if page.no-user-scalable %}
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {% else %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endif %}

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link href='//fonts.googleapis.com/css?family=Orbitron:500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="apple-touch-icon" href="{{ site.url }}/img/s2works_favicon.png">

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  {% include metadata.html %}
</head>
