<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        {% include contents.html %}
        <!--
          {% for page in site.pages %}
            {% if page.title and page.category == nil %}
              <a class="page-link" href="{{ page.url | replace:'/index.html',"/" }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
        -->
      </div>
    </nav>

  </div>

</header>
