        <ul>
          <li><a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="simple-balloon"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a></li>
          <li><div class="fb-like" data-layout="button_count"></div></li>
          <li><a href="https://twitter.com/share" class="twitter-share-button"></a></li>
          <li><div class="g-plusone" data-size="medium"></div></li>
          <li><a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn"></a></li>
        </ul>