{% if include.tag_to_show %}
  {% assign tag_to_show = include.tag_to_show %}
{% else %}
  {% if page.tag %}
    {% assign tag_to_show = page.tag %}
  {% elsif page.tags %}
    {% assign tag_to_show = page.tags.first %}
  {% endif %}
{% endif %}

{% if tag_to_show %}
  <div>
    <h2>タグ「{{ tag_to_show }}」記事一覧</h2>
    <ul class="tagged-post-list">
      {% for post in site.tags[tag_to_show] %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
